* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.options__body input[type="text"] {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}

.options__checkbox {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}

.options__checkbox--disabled {
  color: #d3d3d3;
}

.options__checkbox-help-text {
  color: #c50000;
  margin-left: 18px;
  font-style: italic;
}

.options__bottom {
  overflow:hidden;
  height: 2em;
}

.options__bottom a {
  line-height: 2em;
  text-decoration: none;
}

.options__bottom a:hover {
  text-decoration: underline;
}

.options__status {
  float: right;
  font-weight: 600;
  line-height: 2em;
  color: #aaa;
}

.options__status--error {
  color: #d03232;
}
